body {
    margin: 0;
    background-color: black;
    align-items: center;
    text-align: center;
}

html, body {
	max-height: 100%;
    color: white;
    align-items: center;
    text-align: center;
}

#navbar {
    background-color: aqua;
    border-bottom: solid 3px white;
    text-align: left;
}

#titleText {
    margin-top: 0;
    padding: 15px;
    padding-bottom: 0px;
    color: black;
    font-size: 40px;
}

#headline {
    margin-top: 3%;
    margin-bottom: -3%;
}

#board {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 auto;
    margin-top: 5%;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: 120px;
    height: 120px;
    background-color: white;
    margin: 20px;
    border: solid 4px black;
    outline: solid 4px aqua;
    transition: 0.5s;
}

.square:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(159, 159, 159);
}

.marker {
    color: black;
    font-size: 80px;
    margin: 0;
    margin-top: 12%;
}